@page
@model IndexModel

@using GmailAvatar.Entidades;

@{
    ViewData["Title"] = "Gmail Avatar";

    Avatar[] personagens =
    {
        new Avatar("blank", "", new string[0], new string[0]),
        new Avatar("Mario", "Mario", new string[] {"bigodeMarioNietzsche", "chapeuMario"}, new string[] { "macacaoMario" }),
        new Avatar("pikachu", "", new string[] {"pokeRosto", "pokeOrelhas"}, new string[] { "pokeCauda" }),
        new Avatar("Mickey", "Mouse", new string[] {"orelhasMickey"}, new string[] { "shortsMickey" }),
        new Avatar("Finn", "Mertens", new string[] {"capuzFinn"}, new string[] { "mochilaFinn" }),
        new Avatar("Bart", "Simpson", new string[] {"cabeloBart", "narizBart"}, new string[0]),
        new Avatar("Homer", "Simpson", new string[] {"cabeloHomer", "barbaHomer"}, new string[] { "golaHomer" }),
        new Avatar("batman", "", new string[] { "mascaraBatman" }, new string[] { "morcegoBatman", "capaBatman" }),
        new Avatar("coringa", "", new string[] { "cabeloCoringa" }, new string[] { "camisaCoringa", "sobretudoCoringaLedger" }),
        new Avatar("Heath", "Ledger", new string[] { "cabeloLedger" }, new string[] { "vesteLedger", "sobretudoCoringaLedger" }),
        new Avatar("Clark", "Kent", new string[] { "cabeloSuperClark", "oculosEmicidaChomskyClark" }, new string[] { "camisaEmicidaChomskyClark" }),
        new Avatar("superman", "", new string[] { "cabeloSuperClark" }, new string[] { "capaSuper", "esperancaSuper" }),
        new Avatar("Shikamaru", "Nara", new string[] { "cabeloShika" }, new string[] { "coleteShika", "bolsosShika", "ombreirasShika", "pescoceiraShika", "bandanaShika" }),
        new Avatar("conde", "Dracula", new string[] { "bocaDracula", "cabeloVitoCoringaDracula" }, new string[] { "capaDracula", "ternoDracula", "fraqueVitoDracula", "bolsoDracula", "gravataDracula" }),
        new Avatar("ninja", "", new string[] { "mascaraNinja" }, new string[] { "espadaNinja", "vestesNinja" }),
        new Avatar("Vito", "Corleone", new string[] { "bigodeFreddieVito", "cabeloVitoCoringaDracula" }, new string[] { "fraqueVitoDracula", "gravataVito", "rosaVito" }),
        new Avatar("John", "Rambo", new string[] { "faixaRambo" }, new string[] { "medalhaoRambo" }),
        new Avatar("Darth", "Vader", new string[] { "mascaraVader" }, new string[] { "painelVader", "capaVader" }),
        new Avatar("Chaves", "", new string[] { "gorroChaves" }, new string[] { "camisaChaves", "suspensoriosChaves" }),
        new Avatar("Charlie", "Chaplin", new string[] { "bigodeChaplin", "chapeuMagritteChaplin" }, new string[] { "casacoChaplin" }),
        new Avatar("Kim", "Jong-un", new string[] { "cabeloKim" }, new string[] { "uniformeKim", "botao1", "botao2", "botao3", "botao4", "brocheKim" }),
        new Avatar("Friedrich", "Nietzsche", new string[] { "bigodeMarioNietzsche", "cabeloNietzsche" }, new string[] { "fraqueNietzsche" }),
        new Avatar("Noam", "Chomsky", new string[] { "oculosEmicidaChomskyClark", "cabeloChomsky", "chapeuChomsky" }, new string[] { "camisaEmicidaChomskyClark" }),
        new Avatar("Virginia", "Woolf", new string[] { "cabeloVirginia" }, new string[] { "perolasVirginia", "ternoVirginia" }),
        new Avatar("René", "Magritte", new string[] { "chapeuMagritteChaplin", "macaMagritte" }, new string[] { "camisaMagritte", "gravataMagritte", "casacoMagritte" }),
        new Avatar("Salvador", "Dalí", new string[] { "bigodeDali" }, new string[] { "camisaDali", "gravataDali", "riscaDali" }),
        new Avatar("Emicida", "", new string[] { "oculosEmicidaChomskyClark", "cabeloEmicida" }, new string[] { "camisaEmicidaChomskyClark", "suspensoriosEmicida" }),
        new Avatar("Freddie", "Mercury", new string[] { "bigodeFreddieVito" }, new string[] { "pelosFreddie", "camisaFreddie" })
    };

    Cor[] cores = {
        new Cor("azul", "var(--azulClr)", "var(--azul)", "var(--azulEsc)", "var(--vermelho)", "var(--vermelhoEsc)"),
        new Cor("verde", "var(--verdeClr)", "var(--verde)", "var(--verdeEsc)", "var(--vermelho)", "var(--vermelhoEsc)"),
        new Cor("amarelo", "var(--amareloClr)", "var(--amarelo)", "var(--laranja)", "var(--roxo)", "var(--roxoEsc)"),
        new Cor("vermelho", "var(--vermelhoClr)", "var(--vermelho)", "var(--vermelhoEsc)", "var(--azul)", "var(--azulEsc)"),
        new Cor("roxo", "var(--roxoClr)", "var(--roxo)", "var(--roxoEsc)", "var(--verde)", "var(--verdeEsc)"),
        new Cor("cinza", "white", "var(--cinzaClr)", "var(--cinza)", "black", "var(--cinza)"),
    };

}

<main>
    <component type="typeof(Components.Boneco)" render-mode="Static" />

    <article>
        <h1>Customizar</h1>

        <div class="formas" id="formas">
            @foreach (Avatar personagem in personagens)
            {
                <component type="typeof(Components.BotaoForma)" render-mode="Static" param-nome="@personagem.Nome" param-sobrenome="@personagem.SobreNome" />
            }
        </div>

        <div class="formas" id="cores">
            @foreach (Cor cor in cores)
            {
                <component type="typeof(Components.BotaoCor)" render-mode="Static" param-cor="@cor" />
            }
        </div>
        <div class="reset">
            <button onClick="esvaziarTudo()">reset</button>
            <button onClick="teste()">testes</button>
        </div>
    </article>

</main>
