@page
@model IndexModel
@{
    ViewData["Title"] = "Gmail Avatar";

    var marioCorpo = "mario_corpo.svg";
}

<main>
    <object type="image/svg+xml" data="@Url.Content( String.Format("~/img/{0}", marioCorpo) )"> </object>

    <svg xmlns="http://www.w3.org/2000/svg" id="svg" viewBox="0 0 384 384">
        <defs>
            <g id='macacaoMario'>

                <path class='cmpl' d='M268 325.9c0-17.5-16.1-22.9-16.1-22.9s-17 11.3-59.1 11.6c-42.2-0.3-58.8-11.5-58.8-11.5s-16.6 6.2-16.6 22.9c0 11.7-15.8 71.1-42.5 71.1H310.6C283.9 397 268 337.5 268 325.9Z' />
                <path class='cmplEsc' d='M268 252V325.9a16.6 16.6 0 0 1-16.5 16.5A16.4 16.4 0 0 1 242.9 340a16.4 16.4 0 0 0 11 4.3 17.4 17.4 0 0 0 17-16.5V255.1Z' />
                <path class='cmpl' d='M268 252v73.5c0 8.3-6.7 16.1-15 16.8a16.5 16.5 0 0 1-18-16.4V242.6Z' />
                <circle class='crpClr' cx='251.5' cy='325.5' r='12.5' />
                <path class='cmplEsc' d='M150 242.6v82.8a16.8 16.8 0 0 1-11.3 16 19.5 19.5 0 0 1-14.9-0.9 19.2 19.2 0 0 0 18 2.7A16.7 16.7 0 0 0 153 327.2V243.1Z' />
                <path class='cmpl' d='M117 252v73.5c0 8.3 6.7 16.1 15 16.8a16.5 16.5 0 0 0 18-16.4V242.6Z' />
                <circle class='crpClr' cx='133.5' cy='325.5' r='12.5' />
            </g>
            <path id="bigodeMarioNietzsche" class="cbcEsc" d="M265.68,156.18c-5.33,0-9.34,3.24-9.34,7.28a12.23,12.23,0,0,1,7.18-2.49c5.65,0,10,7.28,6.43,12.26-4.48,6.28-14.26,3.75-18.59-.58-17-17-39.53-28.66-59.79-10.73-20.26-17.92-42.82-6.23-59.79,10.73-4.33,4.33-14.11,6.86-18.59.58-3.55-5,.78-12.26,6.43-12.26a12.23,12.23,0,0,1,7.18,2.49c0-4-4-7.28-9.34-7.28-8.91,0-15.16,7.45-15.16,16.67,0,15.4,16.69,28,38.67,28a84.18,84.18,0,0,0,50.59-17.49,81.9,81.9,0,0,0,50.59,17.49c22,0,38.67-12.58,38.67-28C280.84,163.63,274.59,156.18,265.68,156.18Z" />
            <g id="chapeuMario">
                <path class="cbcCmplEsc" d="M191.6 73c24 0 43.4 11 57.4 28a15.3 15.3 0 0 0 10.5-15c0-12.9-17.5-57.7-60.6-62.1a72.9 72.9 0 0 0-14.7 0C141.1 28.5 123.6 73.2 123.6 86c0 11 9.4 16 9.4 16C147 85 167.6 73 191.6 73Z" />
                <path class="cbcCmpl" d="M191.7 70.3C147.9 70.4 131.8 99 135.9 99H247.5C251.7 99 235.6 70.4 191.7 70.3Z" />
                <ellipse class="cbcCmpl" cx="192" cy="53.5" rx="24" ry="18.5" />
                <polygon class="cbcClr" points="198.9 38.8 191.6 46.7 184.3 38.8 172 60 179.6 65.5 185.1 48.7 191.6 57.1 198 48.7 203.5 65.5 211.2 60 198.9 38.8" />
            </g>
            <path id="pokeCauda" class="crpEsc" d="M100.52,261.3,118.75,243c6.13-6.13,7-13,0-21.76l-53-63.77C59.52,151.25,7.42,198.67,14,206.28l39,39c2.84,2.84,2.74,6.33.74,8.32L35.91,271.21c-2,2-2.56,6-.28,8.28l28.09,28.09a7,7,0,0,1,0,9.44L48.07,332.68c-2.84,2.84-3.15,8.1-.4,10.85L72,367.86V308.25C72,288.31,84.63,269.19,100.52,261.3Z" />
            <g id="pokeRosto">
                <polygon class="cbcEsc" points="197.2 163 191.5 165.3 185.9 163 197.2 163" />
                <circle class="cbcCmpl" cx="230" cy="162.5" r="10.5" />
                <circle class="cbcCmpl" cx="153" cy="162.5" r="10.5" />
            </g>
            <g id="pokeOrelhas">
                <path class="cbc" d="M271.1 16.1C271.6 48 255.8 88.5 249 102L229 83C235.7 44.4 270.4-21.7 271.1 16.1Z" />
                <path class="cbcEsc" d="M246 33c11.8-25.4 24-41.6 25.1-16.9C271.9 34.7 266 54 266 54c2.9-13.7-9.5-28-16-22C249 32.9 247.8 33.1 246 33Z" />
                <path class="cbc" d="M112.1 16.1C111.5 48 127.2 88.5 134 102l20-19C147.3 44.4 112.8-21.7 112.1 16.1Z" />
                <path class="cbcEsc" d="M137 33C125.6 7.8 113-8.6 112.1 16.1 111.5 35.2 117 54 117 54c-2.9-13.7 9.5-28 16-22C134 32.9 135.2 33.1 137 33Z" />
            </g>
            <g id="shortsMickey">
                <rect class="cmpl" x="120" y="363" width="143" height="34" />
                <ellipse class="cmplEsc" cx="239.5" cy="384" rx="8.5" ry="9" />
                <ellipse class="cmplEsc" cx="144.5" cy="384" rx="8.5" ry="9" />
            </g>
            <g id="orelhasMickey" class="cbcEsc">
                <path d="M264 144c0-39.8-32.7-72.2-72.4-72.2S119 104.2 119 144c0 22.9 10 37 10 37-4.9-14.5 21.1-22.5 21.1-22.5s-5.6-6-5.6-36.7 20.9-44 30.7-44S191.6 95.5 191.6 95.5s7.1-17.7 16.9-17.7 30.7 13.4 30.7 44.1-5.6 36.7-5.6 36.7S257.4 166.7 255 180C261.3 169.3 264 157.3 264 144Z" />
                <circle cx="275" cy="61" r="46" />
                <circle cx="109" cy="61" r="46" />
            </g>
            <g id="mochilaFinn">
                <path class="cmpl" d="M131,257.5a11,11,0,0,0-12.8-10.86,11.2,11.2,0,0,0-9.2,11.17V319h22Z" />
                <rect class="cmplEsc" x="109" y="318" width="22" height="79" />
                <path class="cmpl" d="M275 257a11 11 0 0 0-12.8-10.9 11.2 11.2 0 0 0-9.2 11.2V336h22Z" />
                <rect class="cmplEsc" x="253" y="335" width="22" height="62" />
            </g>
            <path id="capuzFinn" class="cbcEsc" d="M249.8 51.4C242.3 51.4 235 57 235 64.7c0 0 1 6.3-3.1 6.3h-80.8c-4.1 0-3.1-6.3-3.1-6.3a13.6 13.6 0 0 0-13.8-13.4C126.4 51.4 119 58.2 119 66v79c0 41.9 32.5 72 72 72s73-30.4 73-73V67C264 59.2 257.7 51.4 249.8 51.4ZM191.6 199A55.5 55.5 0 1 1 247 143.5 55.5 55.5 0 0 1 191.6 199Z" />
            <path id="narizBart" class="cbcEsc" d="M180.9 147.7a12.5 12.5 0 0 0 14.1 19.5S178.7 166.1 180.9 147.7Z" />
            <polygon id="cabeloBart" class="cbc" points="120 80.4 119 144 264 144 264 80.5 266 62.3 255.4 78.7 251.5 59.6 241.4 76.3 236.5 57.4 227.2 74.6 221.5 55.9 213 73.5 206.6 55 198.8 72.3 191.7 54.7 184.3 72.4 176.7 55 170.3 73.5 161.8 55.9 156.1 74.6 146.8 57.4 141.9 76.4 131.8 59.6 127.9 78.7 117.3 62.4 120 80.4" />
            <path id="golaHomer" class="crpEsc" d="M266.2 243.5c-3.3-3-4.5-4.5-14.5-4.5h-31.5c-5.5 0-7.4-0.8-10.4 2.2l-18.2 18.5-18.2-18.5c-3-3-4.9-2.2-10.4-2.2h-31.5c-10 0-11.2 1.5-14.5 4.5L98.5 260H157l13-10.5 21.6 10.4 21.6-10.3 13 10.6h58.5Z" />
            <ellipse id="barbaHomer" class="cbcEsc" cx="191.5" cy="183.5" rx="49.5" ry="33.5" />
            <path id="cabeloHomer" class="cbcEsc" d="M203.41,61.76a24.64,24.64,0,0,0-11.83,3.06,24.61,24.61,0,0,0-36.24,18.05l2,.29A22.62,22.62,0,0,1,189.59,66a24.66,24.66,0,0,0-7.36,7.75l1.72,1a22.69,22.69,0,0,1,7.63-7.68A22.81,22.81,0,0,1,198,73.07l2.61.28A22.43,22.43,0,0,0,193.57,66a22.62,22.62,0,0,1,31.91,15.22l2.29,1.28A24.78,24.78,0,0,0,203.41,61.76Z" />
            <path id="morcegoBatman" class="crpEsc" d="M232.2 339.4c-1.7-8.8-5.7-15.1-18.2-10.9s-15.1 3.1-15.1 3.1-0.6-3.1-1.7-7.3S195 319 195 319v8H185v-8s-0.2 1.1-1.3 5.3a33.3 33.3 0 0 0-1.1 7.4s-2.5 1.1-15-3.1-16.5 2-18.2 10.9a92.2 92.2 0 0 0-1.7 16.3s6.2-9.2 17.9-9.2c5.4 0 6.9 6.3 6.9 6.3a7 7 0 0 1 6.7-4.3c8.4 0 11.6 18.4 11.6 18.4s3.3-18.4 11.7-18.4a7.1 7.1 0 0 1 6.7 4.4s1.5-6.3 6.9-6.3c11.7 0 17.9 9.3 17.9 9.3A93.3 93.3 0 0 0 232.2 339.4Z" />
            <g id="mascaraBatman">
                <path class="cbc" d="M243,94s22-14,13-44c0,0-3.83,33.73-23.73,34.29A67.72,67.72,0,0,1,243,94Z" />
                <path class="cbc" d="M140,94a70,70,0,0,1,10.92-9.71C131,83.78,127,50,127,50,118,80,140,94,140,94Z" />
                <path class="cbcEsc" d="M256 50c8.4 29.3-12.8 43.7-12.8 43.7-12.6-13.6-31.4-21.8-51.7-21.8S152 80.1 139.8 93.7c0 0-21.1-14.3-12.8-43.7 0 0-8 11.2-8 23.8v70.5c0 23.9 10.7 45.6 29 58.7 0 0-8-8.5-8-26.9V159H243v17.1c0 18.4-8 26.9-8 26.9 18.3-13.1 29-34.8 29-58.7V73.8C264 61.2 256 50 256 50Z" />
            </g>
            <path id="capaBatman" class="crpEsc" d="M283 261a201.8 201.8 0 0 0-91-21c-32.6 0-62.8 6.9-91 21a52.8 52.8 0 0 0-29 47v89h31V337.2c0-4.7 1.8-8.8 6.6-10.9 7.6-3.4 77.1-30.1 81.9-32.1 4.9 2 74.3 28.8 81.9 32.1 4.8 2.1 6.6 6.3 6.6 10.9V397h32V308A51.8 51.8 0 0 0 283 261Z" />
            <path id="cabeloCoringa" class="cbcCmpl" d="M191.5 72A72.5 72.5 0 0 0 122 165h0c7 0 16.1-24.9 15.3-38.2C135.7 99.3 154 86.9 173.6 94.1c6.8 2.5 9.7 4.3 17.8 4.3 8.5 0 11.3-1.8 18-4.3 19.6-7.2 38 5.3 36.4 32.8C244.9 140.1 254 165 261 165h0A72.5 72.5 0 0 0 191.5 72Z" />
            <g id="sobretudoCoringaLedger">
                <path class="cmplEsc" d="M221,242c57,8,91,27,91,66v89H225l8.2-70.75C239.15,291.05,233.55,254.62,221,242Z" />
                <path class="cmpl" d="M233.3 326.3C239.1 291.1 231.5 253.7 219 241c0.2 0 40 3 72 23-3.5 3.7-38.3 41.7-38.3 41.7l27.8 15.7L242.7 397H225.5Z" />
                <path class="cmplEsc" d="M163,242c-57,8-91,27-91,66v89h87l-8.2-70.75C144.85,291.05,150.45,254.62,163,242Z" />
                <path class="cmpl" d="M150.8 326.3C144.9 291.1 152.5 253.7 165 241c-0.2 0-40 3-72 23 3.5 3.7 38.3 41.7 38.3 41.7l-27.7 15.7L141.3 397h17.2Z" />
            </g>
            <path id="camisaCoringa" class="crpEsc" d="M283 261a200.4 200.4 0 0 0-62-19.1c4.4 4 7 8.8 7 14.1 0 13.3-16.6 24-37 24s-37-10.7-37-24c0-5.1 2.5-9.9 6.7-13.7A195.6 195.6 0 0 0 101 261a52.8 52.8 0 0 0-29 47v89H312V308A51.8 51.8 0 0 0 283 261Z" />
            <path id="vesteLedger" class="crpEsc" d="M283 261a201.9 201.9 0 0 0-47-16.4c0 0.1 0 0.3 0 0.4s0.6 52-0.1 43.5C235.9 317 201 361 192 361s-43.8-44-43.8-72.5C147.4 297 148 245 148 245c0-0.2 0-0.3 0-0.5A195.4 195.4 0 0 0 101 261a52.8 52.8 0 0 0-29 47v89H312V308A51.8 51.8 0 0 0 283 261Z" />
            <path id="cabeloLedger" class="cbcCmpl" d="M266.47,126.92C251.12,111.57,265.19,112,248.19,95c-11.53-11.53-6.5-11.5-19.56-24.56-19.5-19.5-53.53-13.91-65-2.4-.26.26-9.78,9.29-17.94,9.29-7.86,0-15.5-.42-15.5,10.17,0,9.13-2.13,6-6.33,10.17-4,4,3.76,12.24-1,17s-11.72,9.78-7.83,13.67c4.58,4.58,1.7,10.8-3,15.5-4.18,4.18-6.15,11.85-1.83,16.17,7.2,7.2,4.24,12-1.79,18,0,0,8,3.29,14.64-1,4.53-2.94,6-6.43,6-14.85v-31c0-24.29,21.35-39.27,25.59-35,4.67,4.67,10.68-4.5,10.68-4.5,20.52,20.52,39.18,10.7,51.4,10.7,13.65,0,8.39,7.55,10.83,10,4.49,4.49,8.5.79,8.5,5.67,0,5.22-.92,8.89,4.69,14.5,5.12,5.12,6.33,7.92,2.38,11.88-8.63,8.63,4.68,11.7.13,16.25-7.28,7.28,9.24,10.61,1.47,18.38-6.36,6.36,4.93,8.41-.28,13.63,0,0,2.51,1.32,9.45-5.63,11.71-11.71,25.74-18.7,12.83-31.61C257.19,145.92,276.22,136.67,266.47,126.92Z" />
            <g id="capaSuper" class="cmpl">
                <path d="M171.3 261.2c-6-0.2-22.8-11.2-11.8-19.2a185.7 185.7 0 0 0-51.9 15.4C122.5 250.5 112.3 259.5 171.3 261.2Z" />
                <path d="M281.8 260.1c-19.7-11.2-59.3-17.9-59.3-17.9 10.9 8-5.9 19.3-11.8 19.5 66.2-2 43.8-13.6 70.4-0.7 16 7.8 28.9 26.7 28.9 47.2V397h13V321.7C323 283.7 299.7 270.3 281.8 260.1Z" />
            </g>
            <g id="esperancaSuper">
                <polygon class="cmpl" points="234.34 282 148.79 282 131.87 301.94 191.95 370.85 251.01 302.25 234.34 282" />
                <path class="crpClr" d="M192.7 287c-17.3 0-24.6 9-24.6 12.1s2 7 26.5 9 28.3 5.6 30.6 7.7a13.4 13.4 0 0 1 3.3 4.9l16.2-19-7.2-9.3L234 299H215.1S210.9 287 192.7 287Z" />
                <path class="crpClr" d="M151.2 286l-12.9 15.3 7.7 8.9s-2.7-8.5 2.3-15.6c5.2-7.4 11.1-8.6 11.1-8.6Z" />
                <polygon class="crpClr" points="217.7 286 225 286 222.5 289.9 217.7 286" />
                <path class="crpClr" d="M185.2 356l6.8 7.9 6.7-7.9C196 357.3 187.8 357.3 185.2 356Z" />
                <path class="crpClr" d="M206.2 338.9c0-10.4-14.6-6.8-24.6-6.8-8.3 0-17.9-2-23.8-7.8l15.7 18.2s1.2-1.8 7-1.8c11 0 8.7 7.5 8.7 7.5S206.2 349.4 206.2 338.9Z" />
            </g>
            <path id="cabeloSuperClark" class="cbcEsc" d="M191.5,72a72.52,72.52,0,0,0-69,94.67A21.14,21.14,0,0,0,122,162c0-21.44,18-22.34,18-32,0,0-1-30.72,14.17-30.72,4,0,16.55,3.85,27.89,5.72.74,6.94,9.15,6.38,7.94,10-1,3-3,0-3,0,0,4,4.5,3.5,6,2,5-5-3-7-3-9a1.77,1.77,0,0,1,2-2c12,0,33.15-6.72,37.83-6.72C245,99.28,244,130,244,130c0,9.57,17.58,10.51,18,31.47A72.49,72.49,0,0,0,191.5,72Z" />
            <g id="coleteShika">
                <rect class="crpClr" x="188" y="290" width="7" height="107" />
                <path class="crpEsc" d="M230.3 280.1c-6.2 6.2-20.8 11.2-31 11.2-4.1 0-6.3 1.3-6.3 5.8V397h91V323.3Z" />
                <path class="crpEsc" d="M153.7 280.1c6.2 6.2 20.8 11.2 31 11.2 4.1 0 6.3 1.3 6.3 5.8V397H100V323.3Z" />
                <path class="crp" d="M196.5,386.08a.5.5,0,0,1-.5-.5v-37a.5.5,0,1,1,1,0v37A.5.5,0,0,1,196.5,386.08Z" />
                <path class="crp" d="M187.5,386.08a.5.5,0,0,1-.5-.5V360.5a.5.5,0,0,1,1,0v25.08A.5.5,0,0,1,187.5,386.08Z" />
                <path class="crp" d="M196.5,307.08a.5.5,0,0,1-.5-.5v-7.25c0-2.93,1.89-4.75,4.92-4.75A55.14,55.14,0,0,0,214,292a.5.5,0,0,1,.35.94,55.44,55.44,0,0,1-13.47,2.64c-2.49,0-3.92,1.37-3.92,3.75v7.25A.5.5,0,0,1,196.5,307.08Z" />
                <path class="crp" d="M187.5,307.08a.5.5,0,0,1-.5-.5v-7.05c0-2.8-1.07-3.95-3.7-3.95a69.47,69.47,0,0,1-16-2.63.5.5,0,1,1,.32-.95,68.07,68.07,0,0,0,15.71,2.58c3.21,0,4.7,1.57,4.7,4.95v7.05A.5.5,0,0,1,187.5,307.08Z" />
            </g>
            <g id="pescoceiraShika">
                <path class="crpEsc" d="M230,206c-10,6-24,11-38,11-13,0-29-4-38-11a37.32,37.32,0,0,0-14.7,10.83c-5.62,6.25-12.21,15.5-8.34,38s9.8,35.26,13.18,36.25c3.57,1,14.08-1.06,12.6-11.49-1.82-12.82-4.07-33.46-4.07-33.46a118.28,118.28,0,0,1,40.26-6.06c6.77,0,25.26.69,38.25,5.56,0,0-1.86,19.07-4,34-1.48,10.44,8.94,12.53,12.5,11.49,3.38-1,9.31-13.75,13.18-36.25s-2.62-31.75-8.24-38C241.79,213.63,238.57,209.58,230,206Z" />
                <path class="crp" d="M138.7 237.1c0 12.2 6 43.3 8.2 54.2a13 13 0 0 0 3.2-0.6c-2.1-10.9-8.2-44.1-8.2-53.7 0-12.1 4-21.7 19.2-27-1.5-0.7-2.6-1.2-4-2C145.9 212.5 138.7 220.6 138.7 237.1Z" />
                <path class="crp" d="M236.78,291.27c2.16-10.86,8.14-42,8.14-54.15,0-16.63-7.72-24.63-18.92-29.12-1.42.76-2.52,1.34-4,2,15.4,5.23,19.77,14.79,19.77,27,0,9.52-6.13,42.6-8.21,53.57A12.88,12.88,0,0,0,236.78,291.27Z" />
            </g>
            <g id="ombreirasShika">
                <path class="crpEsc" d="M231.69,308.58c-.13,2.75.5,5.5,4.75,8.5L284,343.43c8.61,3.8,13.91,4.29,20.16-3.21s16.77-30.39,20-42.14,1.5-13-5.75-19.75-20.5-15.5-27.25-18a42.42,42.42,0,0,0-11-2.75s-11-9-23.5-13c-3.54-1.13-6.63-.94-10.73,5.59C238.45,262.11,232.79,285.17,231.69,308.58Z" />
                <path class="crp" d="M321.1,280.83c-3.63,20.8-19.14,51.68-22.31,54.85-3.65,3.65-8.16,3.65-12,1.59l-43.53-24.19c-1.63-.91-5.51-3.7-4.33-11.08,2.5-15.62,5.79-40.59,19.66-56.76-.64-.23-1.29-.46-1.93-.67-3.54-1.13-6.63-.94-10.73,5.59-7.51,11.95-13.17,35-14.27,58.41-.13,2.75.5,5.5,4.75,8.5L284,343.43c8.61,3.8,13.91,4.29,20.16-3.21s16.77-30.39,20-42.14C327,287.94,326.07,285.62,321.1,280.83Z" />
                <circle class="crpClr" cx="268" cy="309" r="4" />
                <path class="crpEsc" d="M151.8 308.6c0.1 2.8-0.5 5.5-4.7 8.5L99.5 343.4c-8.6 3.8-13.9 4.3-20.2-3.2s-16.8-30.4-20-42.1-1.5-13 5.8-19.7 20.5-15.5 27.3-18a42.4 42.4 0 0 1 11-2.7s11-9 23.5-13c3.5-1.1 6.6-0.9 10.7 5.6C145 262.1 150.7 285.2 151.8 308.6Z" />
                <path class="crp" d="M62.35,280.83c3.63,20.8,19.14,51.68,22.31,54.85,3.65,3.65,8.16,3.65,12,1.59l43.53-24.19c1.63-.91,5.51-3.7,4.33-11.08-2.5-15.62-5.79-40.59-19.66-56.76.64-.23,1.29-.46,1.93-.67,3.54-1.13,6.63-.94,10.73,5.59,7.51,11.95,13.17,35,14.27,58.41.13,2.75-.5,5.5-4.75,8.5L99.45,343.43c-8.61,3.8-13.91,4.29-20.16-3.21s-16.77-30.39-20-42.14C56.46,287.94,57.38,285.62,62.35,280.83Z" />
                <circle class="crpClr" cx="115" cy="309" r="4" />
            </g>
            <g id="bolsosShika" class="crp">
                <rect x="210" y="363" width="11" height="22" />
                <rect x="225" y="363" width="11" height="22" />
                <rect x="240" y="363" width="11" height="22" />
                <rect x="237" y="363" width="2" height="22" />
                <rect x="222" y="363" width="2" height="22" />
                <path d="M254,385h-2V362.92a2,2,0,0,1,2,2.06Z" />
                <path d="M209,385h-2V364.85a1.94,1.94,0,0,1,2-1.94Z" />
                <rect x="133" y="363" width="11" height="22" />
                <rect x="148" y="363" width="11" height="22" />
                <rect x="163" y="363" width="11" height="22" />
                <rect x="160" y="363" width="2" height="22" />
                <rect x="145" y="363" width="2" height="22" />
                <path d="M177,385h-2V362.92a2,2,0,0,1,2,2.06Z" />
                <path d="M132,385h-2V364.85a1.94,1.94,0,0,1,2-1.94Z" />
            </g>
            <g id="bandanaShika">
                <path class="crpClr" d="M313 358v26.2s-11.9 2.6-16.1 3.5-7.9-1-7.9-5.7V367.7c0-2.7 0-6.1 5.1-6.1C297.7 361.6 313 358 313 358Z" />
                <path class="crpEsc" d="M293.75,361.43c-5.18,0-5.16,3.46-4.75,6.19v14.5c-.41,4.33,2.74,6.27,6.52,5.94-2.45.07-4.58-2.49-4.52-4.06V365.44C290.94,363.56,292.24,361.43,293.75,361.43Z" />
                <path class="crpEsc" d="M296.9 365.8A1.7 1.7 0 0 1 295 367a1.4 1.4 0 0 1-1-1.8A1.7 1.7 0 0 1 296 364 1.4 1.4 0 0 1 296.9 365.8Z" />
                <path class="crpEsc" d="M295.93,374.82A1.66,1.66,0,0,1,294,376a1.35,1.35,0,0,1-1-1.78A1.66,1.66,0,0,1,295,373,1.35,1.35,0,0,1,295.93,374.82Z" />
                <path class="crpEsc" d="M297.93,383.82A1.66,1.66,0,0,1,296,385a1.35,1.35,0,0,1-1-1.78A1.66,1.66,0,0,1,297,382,1.35,1.35,0,0,1,297.93,383.82Z" />
                <path class="crpEsc" d="M312.48,370.81a1.68,1.68,0,0,0-1.33-.68c-.94,0-1.94.86-1.94,2.47a.5.5,0,0,0,1,0c0-1.38,1-1.79,1.47-1.18a1.87,1.87,0,0,1,.31,1.18V380a2,2,0,0,1-1.45,1c-1.48,0-3.13-3.44-3.13-8.39s1.65-8.39,3.13-8.39c.65,0,1.19.63,1.52,1.15a.5.5,0,1,0,.84-.54,2.87,2.87,0,0,0-2.36-1.61c-2.36,0-4.13,4-4.13,9.39a20.84,20.84,0,0,0,.37,4l-1.59,4.77a.5.5,0,0,0,.47.66h4.76l.09,0h0a2.87,2.87,0,0,0,2.37-1.61l.08-.27V372.6A2.89,2.89,0,0,0,312.48,370.81Zm-4.75,7.54a7.57,7.57,0,0,0,1.41,2.65h-2.3Z" />
            </g>
            <g id="cabeloShika">
                <polygon class="cbcEsc" points="162 78 144.8 68 162.3 68.1 158.3 44.7 172.7 56.3 176.9 14.8 190.6 40.9 201.1 20.7 209 50.3 226.1 42.1 220.1 64.9 238.3 61.3 221 78 162 78" />
                <path class="cbcEsc" d="M264 144a72.2 72.2 0 0 0-72-72.2c-41 0-73 32.5-73 72.2a66.5 66.5 0 0 0 3 21v-5.2c0-2.4 2-1.8 2-1.8l-0.1-9.3 3.5 1.9 1.5-14.5 5.2 3.3 3.1-15 7.1 5.4 3.4-14.9 8.6 8 6.8-16.5 9.7 11.1 8.1-15.5L192 115.5l11.1-13.5 8.1 15.6 9.7-11.1 6.8 16.5 8.6-8 3.4 14.9 7.1-5.4 3.1 15 5.2-3.3 1.5 14.6 3.5-1.9L259 158s2-0.4 2 2v5A66.5 66.5 0 0 0 264 144Z" />
                <path class="cbcClr" d="M191.6 71.8a72.1 72.1 0 0 1 18.5 2.4c-4-2.5-9.9-4.1-16.5-4.1a34.4 34.4 0 0 0-13.7 2.7A72.4 72.4 0 0 1 191.6 71.8Z" />
                <path class="cbcClr" d="M175,73.72c4.25-2.78,10.76-4.55,18.07-4.55,8.36,0,15.69,2.33,19.76,5.82,2.08.64,4.11,1.38,6.1,2.2-3.24-6.23-13.59-10.8-25.86-10.8-11.28,0-20.93,3.85-24.94,9.32A71.4,71.4,0,0,1,175,73.72Z" />
            </g>
            <path id="capaDracula" class="cmpl" d="M237 397V245c2-10.3 8-21.8 22.7-30.9 5.8-3.6-9.2-8.9-30-9.1h-0.5a70 70 0 0 1-37.5 10.8C177.8 215.8 154 205 154 205h-0.4c-21.5 0-35.8 5.2-29.8 8.9 14.6 9 20.5 20.1 22.3 30.3-34.2 6.8-74.8 17.1-80.5 57.9C66 302 52 397 52 397Z" />
            <g id="ternoDracula">
                <path class="crpEsc" d="M312,397V308a51.84,51.84,0,0,0-29-47,200.93,200.93,0,0,0-54.7-17.92c7,1.76,10.7,16.25,10.7,36.84L238.77,397Z" />
                <path class="crpEsc" d="M154.2 243.3A195.4 195.4 0 0 0 101 261a52.8 52.8 0 0 0-29 47v89h72l-0.3-115.9C143.7 261.3 147.6 246.3 154.2 243.3Z" />
                <path class="cmpl" d="M252.1 281s13-5 13-9.5S238.2 245.7 233 242H149c-5.2 3.7-32.1 25-32.1 29.5s13 9.5 13 9.5-23.5 16.5-22 22c1.4 5.2 26.2 47 28.8 94H245.3c2.6-47 27.4-88.8 28.8-94C275.6 297.5 252.1 281 252.1 281Z" />
            </g>
            <path id="bolsoDracula" class="crpClr" d="M262.2 347.5 287 338.8V331C285.5 329.8 262.1 335.8 262.2 347.5Z" />
            <g id="gravataDracula">
                <path class="crpEsc" d="M223.5 236.2c1-6.3-26.8 2.3-31.8 5-5-2.7-33-11.3-32-5s-6.2 18 2.5 16.3 29.5-5.8 29.5-5.8 20.8 4.2 29.4 5.8S222.5 242.5 223.5 236.2Z" />
                <circle class="crp" cx="192" cy="245" r="6" />
            </g>
            <g id="bocaDracula">
                <path class="cbcCmpl" d="M179.6 204.4c-1.1-1-1-1.6-1.2-1.6a5.6 5.6 0 0 1-1.2 1.6 2.4 2.4 0 0 0-0.8 1.7 2 2 0 0 0 4 0A2.4 2.4 0 0 0 179.6 204.4Z" />
                <path class="cbcClr" d="M209.2 183H173.9a2 2 0 0 0 0 4h1.1l3.4 12.7L181.9 187h18.7l3.4 12.7L207.3 187h1.9a2 2 0 0 0 0-4Z" />
                <path class="cbcCmpl" d="M204.5 193.5c-0.7 0-1-1-2.2-0.4h0l1.7 6.1 1.7-6.2A1.6 1.6 0 0 1 204.5 193.5Z" />
                <path class="cbcCmpl" d="M177.9 193.5c0.7 0 1-1 2.2-0.4h0l-1.6 6.1L176.8 193A1.6 1.6 0 0 0 177.9 193.5Z" />
            </g>
            <g id="espadaNinja">
                <rect class="crp" x="98.91" y="226.9" width="16.28" height="53.5" transform="translate(-112.52 87.56) rotate(-30.01)" />
                <path class="cmpl" d="M100.1 225.4 53.6 144.8a2.3 2.3 0 0 0-3.2-0.8L40.4 149.8A2.3 2.3 0 0 0 39.5 153L86 233.6 76 239.4l0.6 1 34.3-19.8-0.6-1Z" />
                <path class="cmplEsc" d="M58.23,169.25A9.58,9.58,0,0,0,54.47,173c-.08.15-.22.47.26.45a11.32,11.32,0,0,0,5.19-1.3,11.37,11.37,0,0,0,3.74-3.88c.08-.12.26-.38-.26-.41A9.57,9.57,0,0,0,58.23,169.25Z" />
                <path class="cmplEsc" d="M61.06,174.16a9.56,9.56,0,0,0-3.76,3.79c-.08.15-.22.47.26.44a11.31,11.31,0,0,0,5.19-1.3,11.39,11.39,0,0,0,3.74-3.88c.08-.13.26-.38-.26-.41A9.59,9.59,0,0,0,61.06,174.16Z" />
                <path class="cmplEsc" d="M63.68,178.7a9.56,9.56,0,0,0-3.76,3.79c-.08.15-.22.46.26.44a11.31,11.31,0,0,0,5.19-1.3,11.38,11.38,0,0,0,3.74-3.88c.08-.13.26-.38-.26-.41A9.56,9.56,0,0,0,63.68,178.7Z" />
                <path class="cmplEsc" d="M66.74,184A9.58,9.58,0,0,0,63,187.78c-.08.15-.22.47.26.45a11.32,11.32,0,0,0,5.19-1.3A11.39,11.39,0,0,0,72.18,183c.08-.13.26-.38-.26-.41A9.59,9.59,0,0,0,66.74,184Z" />
                <path class="cmplEsc" d="M69.69,189.09a9.57,9.57,0,0,0-3.76,3.79c-.08.15-.22.46.26.45a11.34,11.34,0,0,0,5.19-1.3,11.37,11.37,0,0,0,3.74-3.88c.08-.12.26-.38-.26-.41A9.58,9.58,0,0,0,69.69,189.09Z" />
                <path class="cmplEsc" d="M72.42,193.82a9.58,9.58,0,0,0-3.76,3.79c-.08.15-.22.46.26.45a11.32,11.32,0,0,0,5.19-1.3,11.39,11.39,0,0,0,3.74-3.88c.08-.13.26-.38-.26-.41A9.56,9.56,0,0,0,72.42,193.82Z" />
                <path class="cmplEsc" d="M75.26,198.73a9.57,9.57,0,0,0-3.76,3.79c-.08.15-.22.47.26.44a11.31,11.31,0,0,0,5.19-1.3,11.39,11.39,0,0,0,3.74-3.88c.08-.13.26-.38-.26-.41A9.56,9.56,0,0,0,75.26,198.73Z" />
                <path class="cmplEsc" d="M78.1,203.65a9.57,9.57,0,0,0-3.76,3.79c-.08.15-.22.47.26.45a11.33,11.33,0,0,0,5.19-1.3,11.39,11.39,0,0,0,3.74-3.88c.08-.13.26-.38-.26-.41A9.59,9.59,0,0,0,78.1,203.65Z" />
                <path class="cmplEsc" d="M80.93,208.56a9.59,9.59,0,0,0-3.76,3.79c-.08.15-.22.47.26.44a11.3,11.3,0,0,0,5.19-1.3,11.37,11.37,0,0,0,3.74-3.88c.08-.13.26-.38-.26-.41A9.59,9.59,0,0,0,80.93,208.56Z" />
                <path class="cmplEsc" d="M83.77,213.47A9.56,9.56,0,0,0,80,217.26c-.08.15-.22.46.26.45a9.76,9.76,0,0,0,8.93-5.18c.08-.12.26-.38-.26-.41A9.57,9.57,0,0,0,83.77,213.47Z" />
                <path class="cmplEsc" d="M86.61,218.39a9.57,9.57,0,0,0-3.76,3.79c-.08.15-.22.47.26.45a11.32,11.32,0,0,0,5.19-1.3A11.41,11.41,0,0,0,92,217.44c.08-.12.26-.38-.26-.41A9.57,9.57,0,0,0,86.61,218.39Z" />
            </g>
            <g id="vestesNinja">
                <path class="cmpl" d="M153.63,397H312V308.25c0-21.92-12.16-38.9-28.52-47a205.69,205.69,0,0,0-45.54-16.21l-1.58-.35c16,4.35,8.58,21.76-7.29,44.26Z" />
                <path class="crpEsc" d="M312 325.6 183.9 291c-67.3-18.6-55.6-41-33.8-46.8a198.8 198.8 0 0 0-49.6 17.1 52.3 52.3 0 0 0-28.5 47V397H312Z" />
            </g>
            <ellipse id="mascaraNinja" class="cbcEsc" cx="192" cy="144" rx="68" ry="19" />
            <path id="fraqueVitoDracula" class="crpClr" d="M192 230c-9 0-36 4.5-36 26.2V397h72V256.2C228 234.5 201 230 192 230Z" />
            <g id="rosaVito">
                <polygon class="crpClr" points="246 331 279 331 279 325.5 246 331" />
                <rect class="cmplEsc" x="261" y="327" width="1" height="4" />
                <path class="cmpl" d="M268.07,318h0l0-.06c-.09-.21-.18-.42-.28-.62-.71-1.65-2.31-6.13-1.08-10.62l-5,11.29-5-11.29c1.24,4.53-.4,9-1.1,10.66-.08.16-.16.33-.23.5l-.06.13h0a6.83,6.83,0,0,0-.47,3,7,7,0,0,0,6.93,6.39,6.89,6.89,0,0,0,6.36-9.42Z" />
                <polygon class="cmplEsc" points="261.66 317.89 263.48 313.79 263.48 313.78 261.66 306.6 259.83 313.78 259.83 313.79 261.66 317.89" />
            </g>
            <g id="gravataVito">
                <path class="crp" d="M229,243c-1.89-.34-4.09-.71-6-1-7.32,4.7-18.65,7.67-31.42,7.67s-24.25-3-31.58-7.67c-1.91.29-4.11.66-6,1,8,6.61,22,10.87,37.58,10.87S221,249.6,229,243Z" />
                <path class="crpEsc" d="M172.84,256.83l18.66-3.12,18.66,3.12c2.52.45,3.84-.3,3.84-2.82v-9.19c0-2.56-1.63-3.46-4.37-2.33s-18.13,7-18.13,7-15.39-5.86-18.13-7-4.37-.23-4.37,2.33V254C169,256.53,170.32,257.29,172.84,256.83Z" />
                <circle class="crp" cx="192" cy="252" r="5" />
            </g>
            <path id="cabeloVitoCoringaDracula" class="cbcEsc" d="M191.5 72A72.5 72.5 0 0 0 122 165h0c7 0 16.1-24.9 15.3-38.2C135.7 99.3 154 86.9 173.6 94.1c6.8 2.5 9.7 4.3 17.8 4.3 8.5 0 11.3-1.8 18-4.3 19.6-7.2 38 5.3 36.4 32.8C244.9 140.1 254 165 261 165h0A72.5 72.5 0 0 0 191.5 72Z" />
            <g id="medalhaoRambo">
                <path class="crpEsc" d="M232.1 243.4c-1.8 12.1-19.3 21.7-40.5 21.7S153 255.5 151.2 243.4l-1 0.2c1.1 12.2 19.7 22.5 41.5 22.5s40.4-10.4 41.5-22.6Z" />
                <path class="crpEsc" d="M191.6 265.6c3.7 0 6.8 9.7 6.8 13.5a6.8 6.8 0 0 1-13.5 0C184.9 275.3 187.9 265.6 191.6 265.6Z" />
                <path class="crp" d="M192 267.6v2.6c-1.1 1.9-2.7 6.2-2.7 8.9a2.8 2.8 0 0 0 2.8 2.8v2a4.8 4.8 0 0 0 4.8-4.7C196.8 275.1 193.6 267.6 192 267.6Zm0 14.2V270.3c1.1 1.9 2.8 6.1 2.8 8.8A2.8 2.8 0 0 1 192 281.8Z" />
                <circle class="crp" cx="192" cy="266" r="1" />
            </g>
            <g id="faixaRambo">
                <path class="cbcCmplEsc" d="M120 134s-20 23.6-20 53c0 40 33 42 50 86h13s-4.6-22.6-29-47c-16.5-16.5-20-27.3-20-41 0-11 4.1-17.4 6.8-24.5A76.8 76.8 0 0 1 120 134Z" />
                <path class="cbcCmpl" d="M119 303h12V184.4a72.1 72.1 0 0 1-12-39.9Z" />
                <path class="cbcCmpl" d="M124 117a72.9 72.9 0 0 0-5 18c14.7-12.8 42.4-21.7 72.6-21.7S249.3 122.2 264 135a72.9 72.9 0 0 0-5-18c-15.3-10.7-40.1-17.9-67.4-17.9S139.3 106.3 124 117Z" />
            </g>
            <g id="painelVader">
                <rect class="crpEsc" x="167" y="327" width="48" height="50" />
                <rect class="cmplEsc" x="194" y="344" width="9" height="6" />
                <rect class="cmpl" x="194" y="335" width="9" height="6" />
                <rect class="crp" x="178" y="347" width="11" height="5" />
                <rect class="crp" x="178" y="340" width="11" height="5" />
                <rect class="crp" x="178" y="333" width="11" height="5" />
                <rect class="crp" x="172" y="333" width="4" height="37" />
                <rect class="crp" x="206" y="333" width="4" height="37" />
                <rect class="crp" x="178" y="354" width="5" height="16" />
                <rect class="crp" x="185" y="354" width="5" height="16" />
                <rect class="crp" x="192" y="354" width="5" height="16" />
                <rect class="crp" x="199" y="354" width="5" height="16" />
            </g>
            <g id="capaVader" class="crpEsc">
                <path d="M279,259v42h33A53.18,53.18,0,0,0,279,259Z" />
                <path d="M252,248.58v57.18c4.33-2.66,8.23-4.78,11.06-5.18V252.3Q257.71,250.35,252,248.58Z" />
                <path d="M131,248.67q-5.52,1.67-11,3.68V300.5c3.12,0,11,5.19,11,5.19Z" />
                <path d="M100.74,261a51.58,51.58,0,0,0-28.45,40H104V259.49C102.91,260,101.82,260.51,100.74,261Z" />
                <path d="M183,319V240.2a206.79,206.79,0,0,0-36,4.54v71.17s5,3.09,10,3.09Z" />
                <path d="M236,315.87V244.58a206,206,0,0,0-37-4.46V319h26.92C230.38,319,236,315.87,236,315.87Z" />
            </g>
            <g id="mascaraVader">
                <path class="cbc" d="M285 205l-21-69c-3.7-36.2-35.2-64.2-72.4-64.2S122.7 99.8 119 136L98 205c-2.7 8.4 0 12 5.2 12H279.6C285.6 217 287.6 212 285 205Z" />
                <path class="cbcEsc" d="M267.6 201.7s-15.9-65.3-43.9-65.3c-17.8 0-19.8 8.2-31.8 8.6-12.5-0.4-14.2-8.6-32-8.6-28 0-32.6 30-39.5 52.1S108.6 217 103.2 217H279.6S272.9 216 267.6 201.7ZM167 209l17-25h16l16 25Z" />
            </g>
            <g id="camisaChaves">
                <path class="crpEsc" d="M75 289a52.6 52.6 0 0 0-3 18.8V314c34.8-24.5 75.9-38.7 120-38.7S277.2 289.5 312 314v-6.2a54 54 0 0 0-3.3-18.6A216 216 0 0 0 75 289Z" />
                <path class="crpClr" d="M311 297c-34.7-22.7-76-36.3-119.4-36.3A215.1 215.1 0 0 0 73 296a55.7 55.7 0 0 0-1 9 214.9 214.9 0 0 1 119.6-36.3c43.9 0 85.4 14.1 120.4 37.3A58.1 58.1 0 0 0 311 297Z" />
                <path class="crpEsc" d="M72,338.21v22.55c34.77-24.51,75.9-38.69,120-38.69s85.23,14.19,120,38.69V337.87C277.72,316,234.57,301.5,192,301.5S106.25,316.4,72,338.21Z" />
                <path class="crpClr" d="M312,344c-34.76-22.72-76.58-36.54-120-36.54S106.75,321.35,72,344l-.07,8.25c35-23.16,76.12-36.8,120-36.8s85,13.42,120,36.59Z" />
                <path class="crpEsc" d="M72 390l0 7H97.9A204.2 204.2 0 0 1 286 397h26v-7.1c-34.3-21.9-77.4-36.5-120-36.5S106.3 368.2 72 390Z" />
                <path class="crpClr" d="M72,397H83.22a213.59,213.59,0,0,1,216.72,0H312c-34.75-22.71-77-37.53-120.42-37.53S106.74,374.31,72,397Z" />
            </g>
            <g id="suspensoriosChaves">
                <polygon class="cmplEsc" points="133.05 397 158.74 397 266 253 245 246 133.05 397" />
                <path class="cmpl" d="M234,397h20V249c-6-2-13.2-4.6-20-6Z" />
            </g>
            <g id="gorroChaves">
                <path class="cbcEsc" d="M192 72c-40.5 0-73 32-73 72.5V198a7.9 7.9 0 0 0 8.1 8.1 8.2 8.2 0 0 0 7.9-7.9V135c0.2 1.7 1.7 2.8 4.6 2.8 15.8 0 17-10.3 51.9-10.3s36.1 10.3 51.9 10.3c2.9 0 4.4-1.1 4.6-2.8V198.2a8.2 8.2 0 0 0 7.9 7.9A8.6 8.6 0 0 0 264 198V144.5C264 104 233 72 192 72Z" />
                <path class="cbcCmpl" d="M238.48,121.41l-2.42-23.18-10.43-7.91,1.71,24.18S235.34,119,238.48,121.41Z" />
                <path class="cbc" d="M264,143.32c0-2.13-.11-4.24-.3-6.32H259v42h5Z" />
                <path class="cbc" d="M227,116v-1.1a81.31,81.31,0,0,0-35-7.9v9Z" />
                <path class="cbc" d="M192,71.79A70.87,70.87,0,0,0,160,79L158,114a81,81,0,0,1,34-7.49Z" />
            </g>
            <g id="casacoChaplin">
                <path class="crpClr" d="M220.4 244.9a3.8 3.8 0 0 1 0.4-1.5c2.8-10.5-3.1-13-1.6-11.6s-2 4.8-9.6 7.8-16.2 10.4-16.2 10.4l3.9 4.9S220.4 250.9 220.4 244.9Z" />
                <path class="crpClr" d="M162.9 244.5c0 6 23.9 10.4 23.9 10.4l3.9-5s-8.6-7.3-16.2-10.3S163.5 233 165 231.7s-5 1.2-2.2 11.6A11.2 11.2 0 0 1 162.9 244.5Z" />
                <path class="crpClr" d="M167.2 261.4a13 13 0 0 1-1.9-0.7c0.7 3.7 1.6 7.9 2.9 12.4 2.5 9.3 5.6 19.8 8.8 29.9 1.5-7.8 9.6-20.8 14-20.8s12 14.3 13.7 20.8l11-41.5C201.5 267.1 183.7 267.1 167.2 261.4Z" />
                <path class="crpEsc" d="M198.1 274H184s-5.4 5.5-4.3 11c0.9 4.5 11.4 16.2 11.4 16.2s10.5-11.7 11.4-16.2C203.5 279.5 198.1 274 198.1 274Z" />
                <path class="crp" d="M180.33,264.42a30.81,30.81,0,0,0,.59,5.47c.65,3,2,5.11,5,5.11H194c3.25,0,4.46.89,4.46,3.19,0,0,4.25-1.84,5.45-10,.2-1.36,0-2.56-3-3.28A73.57,73.57,0,0,1,180.33,264.42Z" />
                <path class="crpEsc" d="M180.37,265.23a4.15,4.15,0,0,0,4.51,3.77h13.54c5.51,0,4.63,3.75,4.63,3.75s1.56-4.42.78-7.44A72.67,72.67,0,0,1,180.37,265.23Z" />
            </g>
            <path id="bigodeChaplin" class="cbcEsc" d="M202.9 168.4c-2.3-1.3-4.8 1.6-10.3 1.6h-0.9c-5.9 0-8-2.9-10.4-1.6s-5.7 8.1-5.7 12.4 2.9 6.2 16.1 6.2h0.9c13 0 16.1-1.9 16.1-6.2S205.2 169.7 202.9 168.4Z" />
            <g id="uniformeKim" class="crpEsc">
                <rect x="185" y="240" width="1" height="157" />
                <path d="M163,312H104.74s-6.49,18,7.05,18h44.16C169.49,330,163,312,163,312Z" />
                <path d="M219.74,312H278s6.49,18-7.05,18H226.79C213.24,330,219.74,312,219.74,312Z" />
                <path d="M227 223.8c3.8 5-35.9 15.8-35.9 15.8s5.2 27.5 13.1 25c4.4-1.4 12.1-4.7 19.8-7.4 9.7-3.4 16.4-11.1 12.3-17.6C233.9 235.6 227 223.8 227 223.8Z" />
                <path d="M155.7 223.8c-3.7 5 35.9 15.8 35.9 15.8s-5.2 27.5-13.1 25c-4.4-1.4-12.1-4.7-19.8-7.4C149 253.6 142.3 246 146.4 239.5 148.9 235.6 155.7 223.8 155.7 223.8Z" />
            </g>
            <g id="botao4">
                <circle class="crpEsc" cx="191.81" cy="364.5" r="4.5" />
                <path class="crpClr" d="M191.81,361.17a3.33,3.33,0,1,0,3.33,3.33A3.33,3.33,0,0,0,191.81,361.17Zm-1.93,4a.55.55,0,0,1,0-1.09.53.53,0,0,1,.16,0l1.27-1.27a.53.53,0,0,1,0-.16.55.55,0,1,1,.55.55.53.53,0,0,1-.16,0l-1.27,1.27a.53.53,0,0,1,0,.16A.55.55,0,0,1,189.87,365.2Zm3.68-.21h-.07l-1.34,1.34a.51.51,0,0,1,0,.07.55.55,0,1,1-.55-.55.53.53,0,0,1,.24.06l1.22-1.22a.53.53,0,0,1-.06-.24.55.55,0,1,1,.55.55Z" />
            </g>
            <g id="botao3">
                <circle class="crpEsc" cx="192.97" cy="332.72" r="4.5" />
                <path class="crpClr" d="M193,329.39a3.33,3.33,0,1,0,3.33,3.33A3.33,3.33,0,0,0,193,329.39Zm-1.93,4a.55.55,0,0,1,0-1.09.53.53,0,0,1,.16,0l1.27-1.27a.53.53,0,0,1,0-.16.55.55,0,1,1,.55.55.53.53,0,0,1-.16,0l-1.27,1.27a.53.53,0,0,1,0,.16A.55.55,0,0,1,191,333.42Zm3.68-.21h-.07l-1.34,1.34a.51.51,0,0,1,0,.07.55.55,0,1,1-.55-.55.53.53,0,0,1,.24.06l1.22-1.22a.53.53,0,0,1-.06-.24.55.55,0,1,1,.55.55Z" />
            </g>
            <g id="botao2">
                <circle class="crpEsc" cx="192.97" cy="300.94" r="4.5" />
                <path class="crpClr" d="M193,297.61a3.33,3.33,0,1,0,3.33,3.33A3.33,3.33,0,0,0,193,297.61Zm-1.93,4a.55.55,0,0,1,0-1.09.53.53,0,0,1,.16,0l1.27-1.27a.53.53,0,0,1,0-.16.55.55,0,1,1,.55.55.53.53,0,0,1-.16,0l-1.27,1.27a.53.53,0,0,1,0,.16A.55.55,0,0,1,191,301.64Zm3.68-.21h-.07l-1.34,1.34a.51.51,0,0,1,0,.07.55.55,0,1,1-.55-.55.53.53,0,0,1,.24.06l1.22-1.22a.53.53,0,0,1-.06-.24.55.55,0,1,1,.55.55Z" />
            </g>
            <g id="botao1">
                <circle class="crpEsc" cx="192.97" cy="269.16" r="4.5" />
                <path class="crpClr" d="M193,265.83a3.33,3.33,0,1,0,3.33,3.33A3.33,3.33,0,0,0,193,265.83Zm-1.93,4a.55.55,0,0,1,0-1.09.53.53,0,0,1,.16,0l1.27-1.27a.53.53,0,0,1,0-.16.55.55,0,1,1,.55.55.53.53,0,0,1-.16,0l-1.27,1.27a.53.53,0,0,1,0,.16A.55.55,0,0,1,191,269.86Zm3.68-.21h-.07L193.31,271a.51.51,0,0,1,0,.07.55.55,0,1,1-.55-.55.53.53,0,0,1,.24.06l1.22-1.22a.53.53,0,0,1-.06-.24.55.55,0,1,1,.55.55Z" />
            </g>
            <path id="brocheKim" class="cmpl" d="M249,298.38V287.93s.41.76,3.65.76c3.91,0,7.83,1.23,7.83,2.53s2.52.41,2.52.41v6.75s-3.47.3-3.47-.8C259.53,296.16,251.18,297.15,249,298.38Z" />
            <g id="cabeloKim">
                <path class="cbcClr" d="M139.94,94.48c-10.27,9.52-20.14,35.39-20.14,49.29L118.56,94.5S146.89,88,139.94,94.48Z" />
                <path class="cbcClr" d="M243.45,94.48C253.71,104,264,129.87,264,143.77l.42-49S236.5,88,243.45,94.48Z" />
                <path class="cbcEsc" d="M251.7 69.8c-16-7.5-51-11.1-60.1 0-10.8-11-44.8-7.3-60.3 0C112.1 78.7 119 114 119 114c0-15.2 20.9-19.5 20.9-19.5 20.3-20.3 51.6-15.7 51.6-15.7S222.7 74.2 243 94.5c0 0 20.8 4.3 20.8 19.6C263.8 114.1 270.9 78.7 251.7 69.8Z" />
                <path class="cbcClr" d="M192.2,78.8s-30.29,0-41.33,11S156.78,49.77,192.2,78.8Z" />
                <path class="cbcClr" d="M192,78.8s30.29,0,41.33,11S227.41,49.77,192,78.8Z" />
            </g>
            <g id="fraqueNietzsche">
                <path class="crpClr" d="M214.55,289.5c-9.88,11.5-11.07,10.5-13.44,6.5-1.16-2-3.55-6.43-5.69-10.49a13.3,13.3,0,0,1-3.89.75,13.8,13.8,0,0,1-4.16-.8c-2.15,4.07-4.56,8.58-5.72,10.54-2.37,4-3.56,5-13.44-6.5-5.23-6.08-15.1-12.16-20.66-20,.53,10.21,5.64,127.52,5.64,127.52h76.54s5.23-120,5.61-126.93c0,0,0-.4.11-1.08C230,277.08,219.87,283.31,214.55,289.5Z" />
                <path class="crpEsc" d="M192.3 294.5a1.1 1.1 0 0 1-1.5 0L182 285.8a1.1 1.1 0 0 1 0-1.5l8.7-8.7a1.1 1.1 0 0 1 1.5 0l8.7 8.7a1.1 1.1 0 0 1 0 1.5Z" />
                <path class="crpEsc" d="M182,288.76a1.07,1.07,0,0,1,0-1.52l.48-.48c-2.35,0-12,.06-15.67.62-4.17.64-6.87,1.88-7.37,4.5-.62,3.28-1.87,10.63-2.37,14.88s2.56,5.69,4.12,5.75c4.38.17,4.38,0,14.38,0,7.84,0,12.81-10.88,14.6-15.59Z" />
                <path class="crpEsc" d="M225.86,306.75c-.5-4.25-1.75-11.6-2.37-14.87-.5-2.62-3.2-3.86-7.37-4.5-3.61-.55-13.1-.61-15.59-.61l.48.48a1.08,1.08,0,0,1,0,1.52L192.79,297c1.81,4.74,6.77,15.52,14.57,15.52,10,0,10,.17,14.38,0C223.31,312.44,226.36,311,225.86,306.75Z" />
                <path class="crpClr" d="M233.6 238.7c1 1.5 4.3 8.3-10 15.8 0 0-30.6 17.4-32.3 18.4-1.6-1-32.3-18.4-32.3-18.4C144.8 247 148 240.3 149 238.8c-16.9 23.3 6.9 37.4 19.2 46.2 10.6 7.5 12.2 8.5 14.6 4.5l8.6-16.2 8.7 16.4c1.8 3.3 2 3.9 14.5-4.7S250.6 262 233.6 238.7Z" />
            </g>
            <path id="cabeloNietzsche" class="cbcEsc" d="M261.33,102.33C247.5,67.83,231,89.22,227.76,78.76c-10.82-37.27-72-43.83-103.26,6-6.46,10.3-9,22.82-9.65,34.68-1.17,23,5.12,43.51,5.12,40.4,0-4.71,3.27-5.4,3.27-5.4s.38-41.2,25.17-56.6c14.76-9.17,27.59-8.51,43.12.17,8.65,4.83,21.8,5.49,32.65,3.49s17.78,2.5,21.46,7c14.68,18,14.37,45.94,14.37,45.94s3.17.69,3.17,5.4C263.19,164,272.5,130.18,261.33,102.33Z" />
            <path id="cabeloChomsky" class="cbcEsc" d="M191.6 71.8a72 72 0 0 0-69.2 91.8c23.1-19.1 13.7-54.9 19.5-64.2s30.8-6.2 46.7-6.9 25.5 15 33.1 14.8 15.3-5.5 21.3-1.7c14.6 9.2-12.6 51.3 18 57.8a72 72 0 0 0-69.3-91.5Z" />
            <path id="chapeuChomsky" class="cbcCmpl" d="M134.9 98.4 191.1 0 247 98.4s-15.6 7.1-55.9 7.1S134.9 98.4 134.9 98.4Z" />
            <g id="perolasVirginia" class="crpClr">
                <circle cx="229.5" cy="243" r="3.5" />
                <circle cx="227.5" cy="249" r="3.5" />
                <circle cx="223.5" cy="254.5" r="3.5" />
                <circle cx="218" cy="258.5" r="3.5" />
                <circle cx="212" cy="262" r="3.5" />
                <circle cx="205.5" cy="264.5" r="3.5" />
                <circle cx="199" cy="266" r="3.5" />
                <circle cx="191.5" cy="266.5" r="4.5" />
                <circle cx="184" cy="266" r="3.5" />
                <circle cx="177.5" cy="264.5" r="3.5" />
                <circle cx="171.5" cy="262" r="3.5" />
                <circle cx="165.5" cy="258.5" r="3.5" />
                <circle cx="160.5" cy="254.5" r="3.5" />
                <circle cx="156.5" cy="249" r="3.5" />
                <circle cx="154.5" cy="243" r="3.5" />
            </g>
            <path id="ternoVirginia" class="crpEsc" d="M312,280c0-4.38-5.33-9.67-9-13s-12-.33-16-4-37-15.33-44-17-5.07-1.94-11-10a21.42,21.42,0,0,0-12-8c5.67,13.83-28,109-28,109s-34.67-95.17-29-109c0,0-8.87,2.63-13,10-4.88,8.73-3,6.33-10,8s-40,13.33-44,17-12.33.67-16,4-8,7.62-8,12V397H312Z" />
            <path id="cabeloVirginia" class="cbcEsc" d="M266.3 101.8c-16-10.6-26.7-51.3-74.6-30.1-48-21.3-58.6 19.5-74.6 30.1-17.7 11.7-16.7 52.8-6.7 74.7S139 194 139 194c-5.4-20.4-9.6-61.7 5.6-67.5 32.4-12.3 46.5-22.3 47-34 0.5 11.7 14.6 21.7 47 34 15.2 5.8 10.9 47.1 5.4 67.5 0 0 18.9 4.3 28.9-17.5S283.9 113.5 266.3 101.8Z" />
            <path id="camisaMagritte" class="crpClr" d="M283 261a200.7 200.7 0 0 0-57-18.3V224s-7.2 15.7-22 18l-12 13-12-13c-14.8-2.3-22-18-22-18v18.7A195.4 195.4 0 0 0 101 261a52.8 52.8 0 0 0-29 47v89H312V308A51.8 51.8 0 0 0 283 261Z" />
            <g id="gravataMagritte">
                <path class="cmplEsc" d="M223.9 242.8c-3.3 4.2-14 12.7-31.8 12.9-17.9-0.2-28.5-8.7-31.8-12.9s-2.8 11.1 2.8 16.5c2.4 2.4 11.8 7.8 22.8 7.8h12.6c11.1 0 20.4-5.4 22.8-7.8C226.6 253.8 227.2 238.5 223.9 242.8Z" />
                <path class="cmpl" d="M195.2 275.5c2.1 0 3.5-10.9 3.9-13.1S199 257.6 192 255c-7.1 2.6-7.8 5.3-7.3 7.4s1.9 13.1 3.9 13.1c-1.7 0-6.7 22-6.7 33.5l10 17 10-16C201.9 298.5 196.9 275.5 195.2 275.5Z" />
            </g>
            <g id="casacoMagritte" class="crpEsc">
                <path d="M249.2 248l-23.3-24.3c-1.4 68-33.4 98.6-33.4 98.6s-32-30.6-33.4-98.6L135.3 248C121.2 252 72 262 72 308.3V397H312V308.3C312 262 263.3 252 249.2 248Z" />
                <path d="M204,242l-12,12.42L180,242s-3.67,18.48-3.67,20,2.31,1.1,8.5-2.25c1.55-.84,6.52-4.22,7.17-4.73.5.39,5.62,3.9,7.2,4.75,6.19,3.35,8.5,3.75,8.5,2.25S204,242,204,242Z" />
            </g>
            <g id="chapeuMagritteChaplin">
                <path class="cbcEsc" d="M192,24.49c-65,0-65,36-65,57.52v23H257V82C257,60.53,257,24.49,192,24.49Z" />
                <path class="cbcEsc" d="M103.1 103.5c3.2 5.1 15.2 11 22.1 12.2l2.7-5.2c1.4-3.2 125.9-3.2 127.2 0l2.7 5.2c7-1.2 19.6-7 22.6-12.2 5.3-9-26.4-0.1-89.4-0.1C135 103.4 97.8 95.2 103.1 103.5Z" />
                <path class="cbcClr" d="M274.75,98.53c-10.9,0-41.1,4.36-82.86,4.36-43,0-72-4.36-82.86-4.36s-5.85,5-5.85,5c-3.61-6.06,28.32.39,88.71.39,59,0,92.32-6.45,88.71-.39C280.61,103.48,285.63,98.53,274.75,98.53Z" />
            </g>
            <g id="macaMagritte" class="cbcCmpl">
                <path d="M174.89,194.86c-25.39-7.66-42.62-73.5,2.81-74.14,6.13-.06,10.08,3.25,14.8,4.15,3.51.64,7.27-3.89,19.33-3.89a24.63,24.63,0,0,1,19.2,9.38c-15.25,9.89-15.89,29.09,2.62,38.6-1.79,7.66-12.51,22-18.12,24.82-6.89,3.45-15.38-2.62-22.14-2.87-6.06-.19-12.12,4.53-18.5,4Z" />
                <path d="M191.13,121.8c12.76.64,21.18-13.46,19.91-23.16C203.07,99.34,190.37,107.26,191.13,121.8Z" />
            </g>
            <g id="camisaDali">
                <path class="crpClr" d="M283 261a200.5 200.5 0 0 0-58-18.5V222.1c0 7.1-5.6 13.6-12.2 18.9h0a103.4 103.4 0 0 1-21.3 12.5s-13.1-4-22.9-12.2h0C162.7 236.4 158 230 158 222.1v20.5A195.5 195.5 0 0 0 101 261a52.8 52.8 0 0 0-29 47v89H312V308A51.8 51.8 0 0 0 283 261Z" />
                <polygon class="crpEsc" points="191.56 253.5 165.05 278.5 191.56 255.75 218.14 278.5 191.56 253.5" />
            </g>
            <g id="gravataDali">
                <path class="crpEsc" d="M202,397V308c0-11.55-5.45-34-7.13-34h-6.62c-1.69,0-7.24,22.45-7.24,34v89Z" />
                <path class="crp" d="M191.6 253.3c-7.1 2.6-7.7 6.5-7.2 8.6S186.2 275 188.2 275h6.6c2.1 0 3.5-10.9 3.9-13.1S198.6 255.8 191.6 253.3Z" />
            </g>
            <g id="riscaDali">
                <path class="crpEsc" d="M283 261a204 204 0 0 0-34-13.2c-14.6-21.8-23.9-24.7-23.9-24.7-1.4 66.3-32 96.7-33.1 97.7 0 0-32-31.9-33.4-99.1 0 0-9.8 3.1-25.1 26.5A195.9 195.9 0 0 0 101 261a52.8 52.8 0 0 0-29 47v89H312V308A51.8 51.8 0 0 0 283 261Z" />
                <path class="crpClr" d="M165,266l-9.52-18.64a1,1,0,0,0-.64-.52l-17.45-4.52-1.2,1.68c.1.07,17.71,4.66,17.71,4.66L167,274Z" />
                <path class="crpClr" d="M160,239l-16.75-4.16q-.66.77-1.35,1.61C142,236.53,160,241,160,241,159.92,240.32,160.07,239.69,160,239Z" />
                <path class="crpClr" d="M159,230l-9.31-1.91c-.51.47-1,1-1.58,1.51.13.13,10.86,2.41,10.89,2.41C159,231.33,159,230.68,159,230Z" />
                <path class="crpClr" d="M185,397c0-.15-61.51-120-61.51-120h-2.11l61.51,120Z" />
                <path class="crpClr" d="M220,262.59l7.61-15.22a1,1,0,0,1,.64-.52l17.45-4.52,1.2,1.68c-.1.07-17.71,4.66-17.71,4.66l-11.57,23Z" />
                <path class="crpClr" d="M223.91,239.34l16-4.5q.66.77,1.35,1.61s-17.49,5-17.53,5Z" />
                <path class="crpClr" d="M224.64,230.12l8.79-2c.51.47,1,1,1.58,1.51l-10.49,2.54Z" />
                <path class="crpClr" d="M250.83,249.78l-17.61,4.33a1,1,0,0,0-.66.52l-41,81.48-41-81.48a1,1,0,0,0-.66-.52l-17.61-4.33-1.1,1.72c.09.06,17.78,4.43,17.78,4.43L190.7,338.8c0,.06.43.63.89.63s.85-.57.88-.63l41.67-82.86s17.7-4.38,17.78-4.43Z" />
                <path class="crpClr" d="M255.42,257.26l-18.12,4.68a1,1,0,0,0-.64.52l-45.07,89.86-45.07-89.86a1,1,0,0,0-.64-.52l-18.12-4.68-1,1.75c.08,0,18.19,4.76,18.19,4.76L190.71,355c.4.87,1.29.88,1.76,0l45.77-91.26L256.43,259Z" />
                <path class="crpClr" d="M259.84,265.21,242,270.06a1,1,0,0,0-.63.52L191.56,370l-49.83-99.44a1,1,0,0,0-.63-.52l-17.83-4.85-1,1.81,17.84,4.85L190.66,372.7c.46,1,1.34.94,1.78,0L243,271.87,260.8,267Z" />
                <path class="crpClr" d="M198.1,397c0-.15,61.51-120,61.51-120h2.11c0,.15-61.51,120-61.51,120Z" />
                <path class="crpClr" d="M248.59,277l-57,112.25L134.57,277h-2.11c0,.15,58.14,114.94,58.14,114.94.68,1.13,1.4,1,2,0,0,0,58.14-114.78,58.14-114.94Z" />
                <path class="crpClr" d="M123.67,264.84a144.66,144.66,0,0,0-15.43,6.09C86.36,281.37,84,308.46,84,319.62V397h2V319.62c0-13.39,3-37.29,23.1-46.89a134.53,134.53,0,0,1,13.2-5.31C122.75,266.55,123.21,265.68,123.67,264.84Z" />
                <path class="crpClr" d="M113,280.67c-14.5,11.16-17,31.92-17,44.83V397h2V325.5c0-12.39,2.34-32.3,16-43Z" />
                <path class="crpClr" d="M118.8,291.41C111,297.52,107,308.31,107,323.58V397h2V323.58c0-14.43,3.63-24.62,10.77-30.39Z" />
                <path class="crpClr" d="M126.32,305.28l-1.08-2c-4.33,5.94-4.1,14.25-3.92,20.84,0,1.27.07,72.86.07,72.86h2s0-71.63-.07-72.92C123.15,317.86,123,310.6,126.32,305.28Z" />
                <path class="crpClr" d="M136.91,324.84l-2.13-3.92c0,1.75.09,3.5.21,5.2.11,1.49.22,70.89.22,70.89h2s-.11-69.57-.22-71Q137,325.4,136.91,324.84Z" />
                <polygon class="crpClr" points="147 343.46 147 397 149 397 149 347.15 147 343.46" />
                <polygon class="crpClr" points="160 367.46 160 397 162 397 162 371.15 160 367.46" />
                <polygon class="crpClr" points="220 374.77 220 397 222 397 222 371.07 220 374.77" />
                <polygon class="crpClr" points="233 350.7 233 397 235 397 235 346.99 233 350.7" />
                <path class="crpClr" d="M245.2,328.11,245,397h1.8l.2-70.89c0-.45,0-.91,0-1.36Z" />
                <path class="crpClr" d="M256.9,306.44c2.68,5.18,2.5,11.86,2.34,17.65,0,1.29-.07,72.91-.07,72.91h2s0-71.59.07-72.86c.17-6.2.38-13.94-3.21-19.78Z" />
                <path class="crpClr" d="M264.45,292.45l-1,1.82c6.32,5.92,9.53,15.74,9.53,29.31V397h2V323.58C275,309.15,271.45,298.72,264.45,292.45Z" />
                <path class="crpClr" d="M270.57,281.12l-1,1.81C282.71,293.76,285,313.28,285,325.5V397h2V325.5C287,312.76,284.57,292.38,270.57,281.12Z" />
                <path class="crpClr" d="M274.76,270.93a151.19,151.19,0,0,0-15.66-6.22q.69,1.28,1.4,2.6a140.86,140.86,0,0,1,13.4,5.43c20.1,9.59,23.1,33.5,23.1,46.89V397h2V319.62C299,308.46,296.64,281.37,274.76,270.93Z" />
            </g>
            <g id="bolsoDali">
                <path class="crpClr" d="M259,340v-.37c0-3,2.75-4.63,5.31-4.63h8.11s-1.05-11.5,14.58-11.5V340Z" />
                <path class="crpClr" d="M291.48,350h-36a2.42,2.42,0,0,1-2.52-2.65V341a1,1,0,0,1,1-1h39a1,1,0,0,1,1,1v6.35A2.42,2.42,0,0,1,291.48,350Z" />
                <rect class="crpEsc" x="255" y="342" width="37" height="6" />
            </g>
            <path id="bigodeDali" class="cbcEsc" d="M191.05,170.5c-15,0-18.24,6.2-32.1,6.2-22.62,0-25.9-10.21-25.9-10.21s4.93,13.68,24.81,13.68c12.4,0,20.81-7.23,29.54-7.84a37.68,37.68,0,0,1,7.29,0c8.72.76,17.14,7.84,29.54,7.84,21,0,24.81-13.68,24.81-13.68s-3.28,10.21-25.9,10.21C209.29,176.7,206,170.5,191.05,170.5Z" />
            <g id="suspensoriosEmicida" class="crpEsc">
                <path d="M141.92,244.89c2.27-.57-11.92,4.45-11.92,43.11V397H109s-1.5-124.5,3-135S123.11,249.59,141.92,244.89Z" />
                <path d="M241.08,244.89C238.81,244.32,253,249.33,253,288V397h21s1.5-124.5-3-135S259.89,249.59,241.08,244.89Z" />
            </g>
            <path id="camisaEmicidaChomskyClark" class="crpEsc" d="M236.6 237.1c-4-11.7-6.6-13.7-8.2-16.4-1.1-1.9-2.2 14.4-36.7 46.1-34.5-31.7-35.6-48-36.7-46-1.6 2.7-4.2 4.7-8.2 16.4-1 3-10 2.9-3.7 17.9S163 293.7 163 293.7l28.6-26.9 28.6 26.9s13.9-23.6 20.1-38.6S237.6 240.1 236.6 237.1Z" />
            <g id="oculosEmicidaChomskyClark">
                <path class="cbcEsc" d="M184.6 124.5c-0.6-1.4-7.1-5.3-20.8-5.9s-24.6 2-25.2 2.7-0.4 1.9-1.8 1.5-3.3 8.9-3.3 8.9 4 5.5 3.9 4 1.3-5 2.7-6.7 1.9-0.5 2.1 3.8a37.2 37.2 0 0 0 2 10.9c0.6 1.7 3.1 9.4 18.8 9.4s19.2-11.4 20.5-14.1 1.7-4.6 2.7-6.4S185.2 125.9 184.6 124.5Zm-8.1 21.8c-4.5 5.3-12.1 6.2-22.6 3.7s-10.1-17.4-10.1-20.3a8.9 8.9 0 0 1 3.8-7.6c3-2.4 8.3-2 16.5-2 18.4 0 18.6 9 18.6 12.4S181 141 176.5 146.3Z" />
                <path class="cbcEsc" d="M197.75,132.56c1.07,1.78,1.42,3.67,2.72,6.4s4.74,14.1,20.49,14.1,18.24-7.7,18.83-9.36a37.19,37.19,0,0,0,2-10.9c.24-4.26.71-5.57,2.13-3.79s2.84,5.31,2.72,6.74,3.91-4,3.91-4-1.9-9.24-3.32-8.88-1.18-.83-1.78-1.54S234,118,220.26,118.58s-20.26,4.48-20.85,5.91S196.69,130.78,197.75,132.56Zm3.55,0c0-3.44.24-12.44,18.6-12.44,8.18,0,13.5-.36,16.47,2a8.86,8.86,0,0,1,3.79,7.58c0,2.84.36,17.77-10.13,20.26s-18.06,1.66-22.57-3.67S201.31,136,201.31,132.56Z" />
                <path class="cbcClr" d="M192,121c-2.72,0-8,1.63-8,4s.41,7,1,7,4.16-1,7-1,6.41,1,7,1,1-4.63,1-7S194.84,121,192,121Z" />
            </g>
            <g id="cabeloEmicida" class="cbcEsc">
                <path d="M264,144.5A72.5,72.5,0,1,0,191.5,217,72.5,72.5,0,0,0,264,144.5ZM238,175c-3.5,3.5-1,4-4,7-4.5,4.5-1,8-6,8a1.16,1.16,0,0,0-1,2c3,3,.5,7.5-1,6-2.24-2.24-4.17,0-6,0s.25-2.75-1-4-3.25,2-5,2c-2.06,0-.4,5.4-2,7s-5.71,4.29-7,3c-2-2-7,2-13,2s-11-4-13-2c-1.29,1.29-5.44-1.44-7-3s.06-7-2-7c-1.75,0-3.62-3.38-5-2s.73,4-1,4-3.76-2.24-6,0c-1.5,1.5-4-3-1-6a1.16,1.16,0,0,0-1-2c-5,0-1.51-3.53-6-8-3-3-.5-3.5-4-7-3-3,.5-5.5-3-9-4-4-9-36-3-42,3.19-3.19,1-8,4-11s0-4,4-8c2.52-2.52,1-3,4-6,2.71-2.71,3.73-1.73,6-4s2.25-3.25,5-6c2.5-2.5,4.63-.62,7-3s4.92-3,8-3c5,0,7.26,2,14,2s9-2,14-2c3.08,0,5.5.5,8,3s4.5.5,7,3c2.75,2.75,2.75,3.75,5,6s3.29,1.29,6,4c3,3,1.48,3.48,4,6,4,4,1,5,4,8s.81,7.81,4,11c6,6,1,38-3,42C237.5,169.5,241,172,238,175Z" />
                <path d="M215,172a3.7,3.7,0,0,1,4,4c0,.87,1.88,4,0,4-3.09,0-1-4-6-4-1.13,0-4-5-3-6C211.5,168.5,212.91,172,215,172Z" />
                <path d="M167.73,172a3.64,3.64,0,0,0-3.91,4c0,.87-1.88,4,0,4,3.09,0,1-4,6-4,1.13,0,4-5,3-6C171.31,168.5,169.81,172,167.73,172Z" />
            </g>
            <path id="pelosFreddie" class="crpEsc" d="M225.95,295.54a10.86,10.86,0,0,1,2.64,6.71c0,4-4.15,2.84-4.15-.17a7.83,7.83,0,0,0-1.38-4.65c0,4.47-4.9,4.82-4.9-1.38s-5.4-9.29-7.16-9.29c0,0,3.06,5,.06,9.08-2.17,3-6.72,2.26-6.72-3.74,0-4.47-3.52-9-3.52-9s.38,6.88-4.65,6.88c-1.7,0-3.25-11.19-4.39-12h-.12l0,.85,0,.15h-.12c-1.14-.15-2.69,11-4.39,11-5,0-4.65-6.88-4.65-6.88s-3.52,4.48-3.52,9c0,6-4.56,6.71-6.72,3.74-3-4.11.06-9.08.06-9.08-1.76,0-7.16,3.1-7.16,9.29s-4.9,5.85-4.9,1.38a7.83,7.83,0,0,0-1.38,4.65c0,3-4.15,4.13-4.15.17a10.86,10.86,0,0,1,2.64-6.71S139,303.11,139,316.88s24.37,25,52.65,25c29.72,0,52.69-11.29,52.69-25S225.95,295.54,225.95,295.54Z" />
            <path id="camisaFreddie" class="crpClr" d="M279 325V258.1c-6.4-3.1-14-5.9-14-5.9C250.4 304.8 235.9 307 223.2 307H161.4c-12.8 0-27.5-2.2-42.2-54.8a151.2 151.2 0 0 0-14.1 6V325c0 12-16.4 32-33 32v40H312V357C295.6 357 279 337 279 325Z" />
            <path id="bigodeFreddieVito" class="cbcEsc" d="M217.2 164H166.1C153.9 164 152 176.6 152 178.6s0.8 5.4 5.9 5.4 6.8-4.9 10.5-4.9h15c4.8 0 4.8-1.8 8.3-1.8s3.4 1.8 8.3 1.8h15c3.7 0 5.4 4.9 10.5 4.9s5.9-3.4 5.9-5.4S229.4 164 217.2 164Z" />
        </defs>
        <g id="base">
            <circle id="cabecaBase" class="cbc" cx="191.5" cy="144.5" r="72.5" />
            <path id="corpoBase" class="crp" d="M101 261a52.8 52.8 0 0 0-29 47v89H312V308a51.8 51.8 0 0 0-29-47 201.8 201.8 0 0 0-91-21C159.4 240 129.2 246.9 101 261Z" />
        </g>
        <g id="corpo"></g>
        <g id="cabeca"></g>
    </svg>

    <article>
        <h1>Customizar</h1>
        <div class="formas" id="formas">
            <div class="forma">
                <button class="btnCabeca" onClick="randomCabeca()">aleatório</button>
                <button class="btnCorpo" onClick="randomCorpo()"></button>
            </div>
        </div>
        <div class="formas" id="cores"></div>
        <div class="reset">
            <button onClick="esvaziarTudo()">reset</button>
            <button onClick="teste()">testes</button>
        </div>
    </article>

</main>
