@using GmailAvatar.Entidades;

<div class="forma">
    <button class="btnCabeca" style="background-color:@cor.Normal;" @onClick="CorCabeca">@cor.Nome</button>
    <button class="btnCorpo" style="background-color:@cor.Normal;" @onClick="CorCorpo"></button>
</div>

@code {
    [Parameter] public Cor cor { get; set; }

    void CorCabeca()
    {
        /*
        root.style.setProperty('--cabecaClr', cores[cor].clr);
        root.style.setProperty('--cabeca', cores[cor].nrm);
        root.style.setProperty('--cabecaEsc', cores[cor].esc);
        root.style.setProperty('--cabecaCmpl', cores[cor].cmpl);
        root.style.setProperty('--cabecaCmplEsc', cores[cor].cmplEsc);
        */
    }

    void CorCorpo()
    {
        /*
        root.style.setProperty('--corpoClr', cores[cor].clr);
        root.style.setProperty('--corpo', cores[cor].nrm);
        root.style.setProperty('--corpoEsc', cores[cor].esc);
        root.style.setProperty('--complementar', cores[cor].cmpl);
        root.style.setProperty('--complementarEsc', cores[cor].cmplEsc);
        */
    }
}
