@using GmailAvatar.Entidades;
@using System.Text;

<div class="forma">
    <button class="btnCabeca" onClick="formaCabeca([ @(personagem.Cabeca[0]) ])">@personagem.Nome</button>
    <button class="btnCorpo" onClick="formaCorpo(@personagem.Corpo[0])">@personagem.SobreNome</button>
</div>

@code {
    [Parameter] public Avatar personagem { get; set; }

    void FormaCabeca()
    {
        /*cabeca.innerHTML = '';
        for (var i = 0; i < personagens[forma].cabeca.length; i++)
        {
            var use = document.createElementNS('http://www.w3.org/2000/svg', 'use');
            use.setAttributeNS('http://www.w3.org/1999/xlink', 'href', '#' + personagens[forma].cabeca[i]);
            cabeca.appendChild(use)
        };*/

        Console.WriteLine("cabeca");
    }

    void FormaCorpo()
    {
        /*
        corpo.innerHTML = '';
        for (var i = 0; i < personagens[forma].corpo.length; i++)
        {
            var use = document.createElementNS('http://www.w3.org/2000/svg', 'use');
            use.setAttributeNS('http://www.w3.org/1999/xlink', 'href', '#' + personagens[forma].corpo[i]);
            corpo.appendChild(use)
        */

        System.Diagnostics.Debug.WriteLine("corpo");
    }

    void RandomCabeca()
    {

    }

    void randomCorpo()
    {

    }

}
